services:
  another_chat_tg:
    image: ${DOCKER_IMAGE:-0fl01/another-chat-tg}:${TAG:-latest}
    container_name: another_chat_tg
    network_mode: "host"
    environment:
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_ENDPOINT_URL=${R2_ENDPOINT_URL}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
    restart: unless-stopped
    volumes:
      - ./.env:/app/.env:ro
      - ./logs:/app/logs
    logging:
      driver: json-file
      options:
        max-size: "1m"
        max-file: "3"
